<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css">
  </head>
  <body>
    
    {% include get_locale.html %}
    
    
    {{ content }}




    <script src="{{ site.baseurl }}/assets/js/vendor.min.js"></script>

    <script>
      $(document).foundation();
    </script>

  </body>
</html>