<!doctype html>
<html class="no-js" lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data[page.lang].title }}</title>
    <link rel="icon" type="image/x-icon" href="{% render_depth %}favicon.ico" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Federation" />
    <meta property="og:title" content="{{site.data[page.lang].title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{site.data[page.lang].share.description}}" />
    <meta property="twitter:description" content="{{site.data[page.lang].share.description}}" />
    <meta property="twitter:image" content="{{site.data[page.lang].share.twitterimg}}" />
    <meta property="og:image" content="{{site.data[page.lang].share.ogimg}}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />

    <link rel="stylesheet" href="{% render_depth %}assets/styles/main.css">
  </head>
  <body>


    {{ content }}



    <script src="{% render_depth %}assets/js/vendor.min.js"></script>

    <script>
      $(document).foundation();
    </script>

  </body>
</html>
