<!doctype html>
<html class="no-js" lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data[page.lang].title }}</title>
    <link rel="stylesheet" href="{% render_depth %}assets/styles/main.css">
  </head>
  <body>


    {{ content }}



    <script src="{% render_depth %}assets/js/vendor.min.js"></script>

    <script>
      $(document).foundation();
    </script>

  </body>
</html>
