<div class="row">
  <div class="columns small-10 small-offset-1 text-center">
    <h1 class="listing-header">{{site.data[page.lang].actions.title}}</h1>
  </div>
</div>

{% assign actions = site.collections | where: "label", "action" | first %}
{% for action in actions.docs %}
  {% if action.lang == page.lang %}
  <div class="row">
    <div class="columns small-10 small-offset-1 medium-8 medium-offset-2">
      <a class="hollow button small expanded action" href="{% render_depth %}{{ action.url | remove_first:'/' }}">
        {{ action.identifier }} - {{ action.title }}
      </a>
    </div>
  </div>
  {% endif %}
{% endfor %}
