<div class="row">
  <div class="columns small-10 small-offset-1 text-center">
    <h1 class="listing-header">{{site.data[page.lang].diseases.title}}</h1>
  </div>
</div>

{% assign diseases = site.collections | where: "label", "disease" | first %}
{% for disease in diseases.docs %}
  {% if disease.lang == page.lang %}
  <div class="row">
    <div class="columns small-10 small-offset-1 medium-8 medium-offset-2">
      <a class="hollow button small expanded disease" href="{% render_depth %}{{ disease.url | remove_first:'/' }}">
        {{ disease.identifier }} - {{ disease.title }}
      </a>
    </div>
  </div>
  {% endif %}
{% endfor %}