<div class="row title-bar">
  <div class="columns small-2">
  <img class="header-logo" src="{{ site.baseurl }}/assets/img/ifrc-digital-logo.svg">
  </div>
  <div class="columns small-8">
    <h1 class="title">{{site.data[locale].banner.title-1}} {{site.data[locale].banner.title-2}}<h1>
  </div>
</div>

<div class="row columns text-center">
  <div class="lang-nav">
    {% for loc in site.authorized_locales %}
      {% if page.collection == "disease" %}
        {% assign collection = site.collections | where: "label", "disease" | first %}
        {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% elsif page.collection == "action"  %}
        {% assign collection = site.collections | where: "label", "action" | first %}
        {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% elsif page.collection == "message" %}
        {% assign collection = site.collections | where: "label", "message" | first %}
        {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% else %}
        {% assign pg = site.pages | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% endif %}
      <a class="" href="{{site.baseurl}}{{pg.url}}">{{site.locale_names[loc]}}</a> 
      {% if forloop.last == false %} | {% endif %}
    {% endfor %}
  </div>
</div>

<br>