
<div class="row">
  <div class="columns small-10 small-offset-1 medium-offset-2 medium-8 large-offset-0 large-4">
    <div class="home-nav-btn disease">
      <a href="{{ site.baseurl }}{{site.data[locale].collections.disease.url}}">
        <div class="btn-image">
          <img class="show-for-medium" src="{{ site.baseurl }}/assets/img/graphics/example1.jpg" alt="" >
        </div>
        <div class="nav-title ">
          <span class="nav-title-top">{{site.data[locale].collections.disease.text-top}}</span>
          <span class="nav-title-bottom">{{site.data[locale].collections.disease.text-bottom}}</span>
        </div>
      </a>
    </div>
  </div>
  <div class="columns small-10 small-offset-1 medium-offset-2 medium-8 large-offset-0 large-4">
    <div class="home-nav-btn action">
      <a href="{{ site.baseurl }}{{site.data[locale].collections.action.url}}">
        <div class="btn-image">
          <img class="show-for-medium" src="{{ site.baseurl }}/assets/img/graphics/example2.jpg" alt="" >
        </div>
        <div class="nav-title ">
          <span class="nav-title-top">{{site.data[locale].collections.action.text-top}}</span>
          <span class="nav-title-bottom">{{site.data[locale].collections.action.text-bottom}}</span>
        </div>
      </a>
    </div>
  </div>
  <div class="columns small-10 small-offset-1 medium-offset-2 medium-8 large-offset-0 large-4">
    <div class="home-nav-btn message">
      <a href="{{ site.baseurl }}{{site.data[locale].collections.message.url}}">
        <div class="btn-image">
          <img class="show-for-medium" src="{{ site.baseurl }}/assets/img/graphics/example3.jpg" alt="" >
        </div>
        <div class="nav-title ">
          <span class="nav-title-top">{{site.data[locale].collections.message.text-top}}</span>
          <span class="nav-title-bottom">{{site.data[locale].collections.message.text-bottom}}</span>
        </div>
      </a>
    </div>
  </div>
</div>