<div class="row title-bar">
  <div class="columns small-2">
  <img class="header-logo" src="{% render_depth %}assets/img/ifrc-square.png">
  </div>
  <div class="columns small-8">
    <h1 class="title">{{site.data[page.lang].banner.title-1}} {{site.data[page.lang].banner.title-2}}<h1>
  </div>
</div>

<div class="row columns text-center">
  <div class="lang-nav">
    {% for loc in site.authorized_locales %}
      {% if page.collection == "disease" %}
        {% assign collection = site.collections | where: "label", "disease" | first %}
        {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% elsif page.collection == "action"  %}
        {% assign collection = site.collections | where: "label", "action" | first %}
        {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% elsif page.collection == "message" %}
        {% assign collection = site.collections | where: "label", "message" | first %}
        {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% else %}
        {% assign pg = site.pages | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
      {% endif %}
      <a class="" href="{% render_depth %}{{ pg.url | remove_first:'/' }}">{{site.locale_names[loc]}}</a>
      {% if forloop.last == false %} | {% endif %}
    {% endfor %}
  </div>
</div>

<br>

<div class="row">
  <div class="columns small-10 small-offset-1 medium-offset-2 medium-8 large-offset-0 large-4">
    <div class="home-nav-btn disease">
      <a href="{% render_depth %}{{site.data[page.lang].collections.disease.url | remove_first:'/' }}">
        <div class="btn-image">
          <img class="show-for-medium" src="{% render_depth %}assets/img/landing-card-disease.jpg" alt="" >
        </div>
        <div class="nav-title ">
          <span class="nav-title-top">{{site.data[page.lang].collections.disease.text-top}}</span>
          <span class="nav-title-bottom">{{site.data[page.lang].collections.disease.text-bottom}}</span>
        </div>
      </a>
    </div>
  </div>
  <div class="columns small-10 small-offset-1 medium-offset-2 medium-8 large-offset-0 large-4">
    <div class="home-nav-btn action">
      <a href="{% render_depth %}{{site.data[page.lang].collections.action.url | remove_first:'/' }}">
        <div class="btn-image">
          <img class="show-for-medium" src="{% render_depth %}assets/img/landing-card-action.jpg" alt="" >
        </div>
        <div class="nav-title ">
          <span class="nav-title-top">{{site.data[page.lang].collections.action.text-top}}</span>
          <span class="nav-title-bottom">{{site.data[page.lang].collections.action.text-bottom}}</span>
        </div>
      </a>
    </div>
  </div>
  <div class="columns small-10 small-offset-1 medium-offset-2 medium-8 large-offset-0 large-4">
    <div class="home-nav-btn message">
      <a href="{% render_depth %}{{site.data[page.lang].collections.message.url | remove_first:'/' }}">
        <div class="btn-image">
          <img class="show-for-medium" src="{% render_depth %}assets/img/landing-card-message.jpg" alt="" >
        </div>
        <div class="nav-title ">
          <span class="nav-title-top">{{site.data[page.lang].collections.message.text-top}}</span>
          <span class="nav-title-bottom">{{site.data[page.lang].collections.message.text-bottom}}</span>
        </div>
      </a>
    </div>
  </div>
</div>

<br>

<div class="row columns text-center hide-for-android">
    <a href="{% render_depth %}{{ page.lang }}.zip" download>{{site.data[page.lang].banner.download}} <i class="far fa-file-archive" aria-hidden="true"></i></a>
</div>

<br>

<div class="row columns text-center hide-for-android">
  <div id="share_section">
    {{site.data[page.lang].share.share}}
    <div id="share_fb">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.data[page.lang].share.fblink}}" target="_blank">
        <i class="fab fa-fw fa-lg fa-facebook-square"></i>
      </a>
    </div>
    <div id="share_twitter">
      <a href="http://twitter.com/intent/tweet?text={{site.data[page.lang].share.tweet}}" target="_blank">
        <i class="fab fa-fw fa-lg fa-twitter-square"></i>
      </a>
    </div>
  </div>
</div>

<br>
