<div class="row">
  <div class="columns">
    <div class="icon-nav-bar">
      
      {% assign linking = site.data[page.lang].collections %}
      
      <a href="{% render_depth %}{{site.data[page.lang].home | remove_first:'/' }}"><span class="linking-icon logo"></span></a>
      <a href="{% render_depth %}{{linking.disease.url | remove_first:'/' }}"><span class="linking-icon disease"></span></a>
      <a href="{% render_depth %}{{linking.action.url | remove_first:'/' }}"><span class="linking-icon action"></span></a>
      <a href="{% render_depth %}{{linking.message.url | remove_first:'/' }}"><span class="linking-icon message"></span></a>
      <div class="language-nav-bar">
        {% for loc in site.authorized_locales.langs %}
          {% if page.collection == "disease" %}
            {% assign collection = site.collections | where: "label", "disease" | first %}
            {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
          {% elsif page.collection == "action"  %}
            {% assign collection = site.collections | where: "label", "action" | first %}
            {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
          {% elsif page.collection == "message" %}
            {% assign collection = site.collections | where: "label", "message" | first %}
            {% assign pg = collection.docs | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
          {% else %}
            {% assign pg = site.pages | where:"lang",{{loc}} | where:"identifier",page.identifier | first %}
          {% endif %}
          <a class="" href="{% render_depth %}{{pg.url | remove_first:'/' }}">{{ loc | upcase }}</a> 
          {% if forloop.last == false %} | {% endif %}
        {% endfor %}
      </div>  
    </div>
  </diV>
</diV>

<hr class="nav-bottom">






